/* Shopping Cart */
#cart {
  padding: 30px 200px;
  height: auto;
  align-items: flex-start;
  gap: 40px;
}
.content-header {
  display: flex;
  align-items: center;
  padding: 0 10px;
  position: relative;
  justify-content: space-between;
  width: 100%;
}
.content-header::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #cecece;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.content-header i {
  font-size: 1.4rem;
  color: #123b57;
}
.content-header h2 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #123b57;
}
.content-header h2 span {
  font-size: 1rem;
  font-weight: 400;
  color: #363636;
}
.content-header #empty-shopping-cart {
  font-size: 14px;
  font-weight: 600;
  color: aliceblue;
  background-color: #ff3131;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.content-header #empty-shopping-cart:hover {
  background-color: #ff5858;
}
.content-header a {
  font-size: 1rem;
  font-weight: 600;
  color: #538fff;
  text-decoration: none;
  transition: 0.3s;
}
.content-header a:hover {
  text-decoration: underline;
}
.shopping-cart {
  display: flex;
  gap: 20px;
  padding: 30px;
  min-height: 35rem;
  border-radius: 5px;
  border: 1px solid #dadada;
  width: 100%;
  background-color: #fff;
}
.shopping-cart h4 {
  font-size: 18px;
  font-weight: 600;
  color: #538fff;
}
.shopping-cart .cart-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #dadada;
  width: 25%;
  height: max-content;
  gap: 10px;
  border-radius: 5px;
}
.shopping-cart .cart-details .cart-detail {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.shopping-cart .cart-details .cart-detail .cart-detail-title {
  font-size: 14px;
  font-weight: 600;
  color: #363636;
}
.shopping-cart .cart-details .cart-detail .cart-detail-value {
  font-size: 15px;
  font-weight: 400;
  color: #363636;
}
.shopping-cart .cart-details .cart-detail .cart-detail-value .old-price {
  text-decoration: line-through;
  font-size: 17px;
  font-weight: 600;
  color: #ff3131;
}
.shopping-cart
  .cart-details
  .cart-detail
  .cart-detail-value[data-type='total'] {
  font-weight: 600;
}
.shopping-cart .cart-details .cart-detail .cart-detail-value span {
  font-weight: 500;
}
.shopping-cart .cart-details .cart-detail .cart-detail-confirm {
  font-size: 14px;
  font-weight: 600;
  color: aliceblue;
  background-color: #06a700;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  padding: 10px;
  width: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.shopping-cart .cart-details .cart-detail .cart-detail-confirm:disabled {
  background-color: #bfbfbf;
  cursor: not-allowed;
}
.shopping-cart .cart-details .cart-detail .cart-detail-confirm:disabled:hover {
  background-color: #bfbfbf;
}
.shopping-cart .cart-details .cart-detail .cart-detail-confirm:hover {
  background-color: #07c700;
}
.shopping-cart .cart-details .cart-detail .return-shopping {
  font-size: 14px;
  font-weight: 600;
  color: aliceblue;
  background-color: #538fff;
  border: none;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  width: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.shopping-cart .cart-details .cart-detail .return-shopping:hover {
  background-color: #3e7fff;
}
.shopping-cart .products {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #dadada;
  border-radius: 5px;
  background-color: #fff;
  width: 75%;
}
.shopping-cart .products .product-in-cart {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  gap: 10px;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #dadada;
}
.shopping-cart .products .product-in-cart:hover {
  background-color: #eeeeee;
}
.shopping-cart .products .product-in-cart:last-child {
  border-bottom: none;
}
.shopping-cart .products .product-in-cart .product-image {
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.shopping-cart .products .product-in-cart .free-shipment {
  position: absolute;
  top: 5px;
  box-shadow: 0 0 5px #05050560;
  left: -33px;
  font-size: 14px;
  color: aliceblue;
  display: grid;
  place-items: center;
  width: 100px;
  transform: rotate(-45deg);
  padding: 0.3rem;
  background: #538fff;
  z-index: 999;
}
.shopping-cart .products .product-in-cart .product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.shopping-cart .products .product-in-cart .product-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: clamp(45ch, 50%, 75ch);
}
.shopping-cart .products .product-in-cart .product-info .product-title {
  font-size: 16px;
  font-weight: 500;
  color: #538fff;
  text-decoration: none;
}
.shopping-cart .products .product-in-cart .product-info .product-title:hover {
  text-decoration: underline;
}
.shopping-cart .products .product-in-cart .product-info .product-desc {
  font-size: 14px;
  color: #363636;
  font-weight: 300;
}
.shopping-cart .products .product-in-cart .product-info .price-calculation {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  color: #363636;
  background: #dfdfdf;
  white-space: nowrap;
  padding: 5px;
  border-radius: 10px;
}
.shopping-cart .products .product-in-cart .remove-from-cart {
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 15px;
  padding: 6px 8px;
  color: #ff2727;
  transform: translateY(-50%);
  opacity: 0.7;
  display: grid;
  background-color: #eeeeee;
  border: 1px solid #dadada;
  border-radius: 5px;
  place-items: center;
  z-index: 999;
  cursor: pointer;
}
.shopping-cart .products .product-in-cart .remove-from-cart:hover {
  opacity: 1;
}
.product-showcase {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
/* Media query for laptop screens */
@media screen and (max-width: 1368px) {
  #cart {
    padding: 30px 100px;
  }
  .shopping-cart {
    gap: 10px;
  }
  .shopping-cart .products {
    width: 65%;
  }
  .shopping-cart .cart-details {
    width: 35%;
  }
}
