/* Shopping Cart */
#cart {
  padding: 30px 200px;
  height: auto;
  align-items: flex-start;
  gap: 40px;
}

.content-header #empty-shopping-cart {
  font-size: 14px;
  font-weight: 600;
  color: aliceblue;
  background-color: #ff3131;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.content-header #empty-shopping-cart:hover {
  background-color: #ff5858;
}
.content-header a {
  font-size: 1rem;
  font-weight: 600;
  color: #538fff;
  text-decoration: none;
  transition: 0.3s;
}
.content-header a:hover {
  text-decoration: underline;
}
.shopping-cart {
  display: flex;
  gap: 20px;
  padding: 30px;
  min-height: 35rem;
  border-radius: 5px;
  border: 1px solid #dadada;
  width: 100%;
  background-color: #fff;
}
.shopping-cart h4 {
  font-size: 18px;
  font-weight: 600;
  color: #538fff;
}
.shopping-cart .checkout {
  width: 25%;
}
.shopping-cart .cart-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #dadada;
  width: 100%;
  height: max-content;
  gap: 10px;
  border-radius: 5px;
}
.shopping-cart .error-logger {
  display: none;
  align-items: center;
  justify-content: start;
  gap: 10px;
  padding: 10px;
  background-color: #ffc4c4;
  border: 1px solid #cd3436;
  border-radius: 5px;
  color: #cd3436;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
}
.shopping-cart .error-logger .error-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}
.shopping-cart .error-logger .error-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.shopping-cart .cart-details input[name='confirm-address'] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.shopping-cart .cart-details label[for='confirm-address'] {
  display: none;
  position: relative;
  align-items: center;
  justify-content: start;
  gap: 10px;
  padding-left: 35px;
  margin: 5px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.shopping-cart .cart-details label[for='confirm-address'] .confirm-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.shopping-cart .cart-details input[name='confirm-address'] ~ .confirm-checkbox {
  background-color: #f5f5f5;
  outline: 1px solid #dadada;
}
.shopping-cart .cart-details label[for='confirm-address'] span.confirm-text {
  font-size: 14px;
  font-weight: 400;
  color: #363636;
}
.shopping-cart
  .cart-details
  input[name='confirm-address']:checked
  ~ .confirm-checkbox {
  background-color: #538fff;
}
.shopping-cart
  .cart-details
  input[name='confirm-address']:checked
  ~ .confirm-checkbox:after {
  content: '';
  position: absolute;
  display: none;
}
.shopping-cart
  .cart-details
  input[name='confirm-address']:checked
  ~ .confirm-checkbox:after {
  display: block;
}

.shopping-cart .cart-details .confirm-checkbox:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.shopping-cart .cart-details .cart-detail {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.shopping-cart .cart-details .cart-detail .cart-detail-title {
  font-size: 14px;
  font-weight: 600;
  color: #363636;
}
.shopping-cart .cart-details .cart-detail .cart-detail-value {
  font-size: 15px;
  font-weight: 400;
  color: #363636;
}
.shopping-cart .cart-details .cart-detail .cart-detail-value .old-price {
  text-decoration: line-through;
  font-size: 17px;
  font-weight: 600;
  color: #ff3131;
}
.shopping-cart
  .cart-details
  .cart-detail
  .cart-detail-value[data-type='total'] {
  font-weight: 600;
}
.shopping-cart .cart-details .cart-detail .cart-detail-value span {
  font-weight: 500;
}
.shopping-cart .cart-details .cart-detail .cart-detail-confirm {
  font-size: 14px;
  font-weight: 600;
  color: aliceblue;
  background-color: #06a700;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  padding: 10px;
  width: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.shopping-cart .cart-details .cart-detail .cart-detail-confirm:disabled {
  background-color: #bfbfbf;
  cursor: not-allowed;
}
.shopping-cart .cart-details .cart-detail .cart-detail-confirm:disabled:hover {
  background-color: #bfbfbf;
}
.shopping-cart .cart-details .cart-detail .cart-detail-confirm:hover {
  background-color: #07c700;
}
.shopping-cart .cart-details .cart-detail .return-shopping {
  font-size: 14px;
  font-weight: 600;
  color: aliceblue;
  background-color: #538fff;
  border: none;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  width: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.shopping-cart .cart-details .cart-detail .return-shopping:hover {
  background-color: #3e7fff;
}
.shopping-cart .products {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #dadada;
  border-radius: 5px;
  background-color: #fff;
  width: 75%;
}
.shopping-cart #address-form {
  display: none;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid #dadada;
  border-radius: 5px;
  background-color: #fff;
  width: 75%;
}
.shopping-cart #address-form h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.shopping-cart #address-form h4 a {
  font-size: 18px;
  color: #538fff;
  font-weight: 600;
  transition: 0.3s;
}
.shopping-cart #address-form .form-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.shopping-cart #address-form .form-layout .form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.shopping-cart #address-form .form-layout .form-group label {
  font-size: 14px;
  font-weight: 600;
  color: #363636;
}
.shopping-cart #address-form .form-layout .form-group input {
  padding: 10px;
  border: 1px solid #dadada;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 400;
  color: #363636;
  width: 100%;
}
.shopping-cart #address-form .form-layout .form-group input::placeholder {
  font-size: 15px;
  font-weight: 400;
  color: #363636;
}
.shopping-cart #address-form .form-layout .form-group input:focus {
  outline: none;
  border: 1px solid #538fff;
}
/* Text area for address */
.shopping-cart #address-form .form-layout .form-group textarea {
  padding: 10px;
  border: 1px solid #dadada;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 400;
  color: #363636;
  height: 105px;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  resize: none;
}
.shopping-cart #address-form .form-layout .form-group textarea::placeholder {
  font-size: 15px;
  font-weight: 400;
  color: #363636;
}
.shopping-cart #address-form .form-layout .form-group textarea:focus {
  outline: none;
  border: 1px solid #538fff;
}
.shopping-cart .products .product-in-cart {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  gap: 10px;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #dadada;
}
.shopping-cart .products .product-in-cart:hover {
  background-color: #eeeeee;
}
.shopping-cart .products .product-in-cart:last-child {
  border-bottom: none;
}
.shopping-cart .products .product-in-cart .product-image {
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.shopping-cart .products .product-in-cart .free-shipment {
  position: absolute;
  top: 5px;
  box-shadow: 0 0 5px #05050560;
  left: -33px;
  font-size: 14px;
  color: aliceblue;
  display: grid;
  place-items: center;
  width: 100px;
  transform: rotate(-45deg);
  padding: 0.3rem;
  background: #538fff;
  z-index: 999;
}
.shopping-cart .products .product-in-cart .product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.shopping-cart .products .product-in-cart .product-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: clamp(45ch, 50%, 75ch);
}
.shopping-cart .products .product-in-cart .product-info .product-title {
  font-size: 16px;
  font-weight: 500;
  color: #538fff;
  text-decoration: none;
}
.shopping-cart .products .product-in-cart .product-info .product-title:hover {
  text-decoration: underline;
}
.shopping-cart .products .product-in-cart .product-info .product-desc {
  font-size: 14px;
  color: #363636;
  font-weight: 300;
}
.shopping-cart .products .product-in-cart .product-info .price-calculation {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  color: #363636;
  background: #f5f5f5;
  white-space: nowrap;
  padding: 5px;
  border-radius: 10px;
}
.shopping-cart .products .product-in-cart .remove-from-cart {
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 15px;
  padding: 6px 8px;
  color: #ff2727;
  transform: translateY(-50%);
  opacity: 0.7;
  display: grid;
  background-color: #eeeeee;
  border: 1px solid #dadada;
  border-radius: 5px;
  place-items: center;
  z-index: 999;
  cursor: pointer;
}
.shopping-cart .products .product-in-cart .remove-from-cart:hover {
  opacity: 1;
}
.product-showcase {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
/* Media query for laptop screens */
@media screen and (max-width: 1368px) {
  #cart {
    padding: 30px 100px;
  }
  .shopping-cart {
    gap: 10px;
  }
  .shopping-cart .products {
    width: 70%;
  }
  .shopping-cart .checkout {
    width: 30%;
  }
  .shopping-cart .cart-details {
    width: 100%;
  }
  .shopping-cart .cart-details .cart-detail .return-shopping,
  .shopping-cart .cart-details .cart-detail .cart-detail-confirm {
    font-size: 12px;
  }
}
