@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}img{
    -webkit-user-drag: none;
}
body{
    overflow-x: hidden;
    position: relative;
}
a{
    text-decoration: none;
    color: #131313;
}
a:hover{
    color: #5a44ff;
}
li{
    list-style: none;
}
.app{
    position: relative;
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    background: #fff;
}.main-page{
    display: flex;
    flex: 1;
    padding-top: 60px;
}
.delete-modal-title{
    text-align: center;
    color: #ff4545;
}
.delete-modal-line{
    width: 100%;
    height: 1px;
    background: #ddd;
    margin: 0;
}

input:read-only {
    background-color: #e7e7e7;
}
.delete-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(5px);
    height: 100%;
    background: #00000048;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.warn{
    color: #ff2828;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 0;
}
.delete-modal-content{
    max-width: 550px;
    width: auto;
    background: #fff;
    border-radius: 10px;
    gap: 10px;
    border: 2px solid #dadada;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    animation: delete-modal 0.3s ease-in-out;
}
@keyframes delete-modal{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

#menu-toggle {
    display: none;
}
.burger {
    padding: 2px 0;
    cursor: pointer;
    transition: .3s ease-in-out;
    height: 50px;
    width: 50px;
    display: flex;
    border: 2px solid #dadada;
    color: #5a44ff;
    border-radius: 9999px;
    background: aliceblue;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    justify-content: center;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
}
.burger:hover{
    background: #5a44ff;
}
.burger:hover .line{
    background: aliceblue;
}
:checked~.burger .line:first-child {
    transform: translateY(10px) rotate(225deg)
}
:checked~.burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg)
}
:checked~.burger .line:nth-child(2) {
    opacity: 0;
}

.line {
    width: 28px;
    height: 4px;
    background-color: #5a44ff;
    margin: 0.7px;
    border-radius: 3px;
    transition: .3s ease-in-out;
}

.active-menu {
    transform: translateX(0);
}

.hidden-menu {
    transform: translateX(-75%);
}

.delete-modal-content p{
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    color: #131313;
}
.delete-modal-btns{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 80%;
}

.left-bar{
    width: 300px;
    height: 100%;
    transition: .5s ease-in-out;
    padding: 0 15px 25px 15px;
    position: fixed;
    box-shadow: 50px 0 60px rgba(0,0,0,0.05);
    z-index: 12;
    background: #fff;
}
.subcontainer {
    width: 80%;
    margin: 150px auto;
    text-align: center;
    background-color: #7b1fa2;
    padding: 100px 50px;
    border-radius: 10px;
  }
  
  .subcontainer .title {
    font-size: 48px;
    margin-bottom: 20px;
    color: aliceblue;
  }
  
  .subcontainer .subtitle {
    font-size: 24px;
    color: aliceblue !important;
    margin-bottom: 40px;
  }
  
  .cta-button {
    background-color: aliceblue;
    color: #7b1fa2;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
  }
.list-title h3{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .8rem;
    font-weight: bold;
    opacity: 0.7;
    text-transform: uppercase;
    color: #575757;
    letter-spacing: 0;
}
hr{
    border: 1px solid #ddd;
    margin: 10px 3px;
}
nav{
    width: 100%;
    user-select: none;
    padding: 0 10px 0 0;
    position: fixed;
    z-index: 11;
    background: #fff;
    top: 0;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03),0 0.9375rem 1.40625rem rgba(4,9,20,0.03),0 0.25rem 0.53125rem rgba(4,9,20,0.05),0 0.125rem 0.1875rem rgba(4,9,20,0.03);
    display: flex;
    align-items: center;
    justify-content: right;
}
.header-user{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}
.header-user .user-image-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border: 1px solid #ddd;
    overflow: hidden;
}
.header-user .user-image-container .user-avatar{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.user-btn .user-btn-item{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border: 2px solid #dadada;
    overflow: hidden;
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: #5943ff;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
    transition: 0s ease-in-out;
    background: aliceblue;
}
.header-user hr{
    border: 1px solid #ddd;
    height: 50px;
}
.header-user .user-info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.user-btn .user-btn-item:hover{
    background: #5943ff;
    color: aliceblue;
}
.header-user .user-info{
    display: flex;
    flex-direction: column;
    text-align: right;
}
.header-user .user-info .username, .header-user .user-info .user-role{
    font-size: 14px;
    color: #131313;
    font-weight: 500;
}
.header-user .user-info .user-role{
    font-size: 12px;
    color: #7a7a7a;
}
section{
    display: none;
}
.page-content{
    width: 100%;
    position: relative;
    margin-bottom: 50px;
    transition: .5s ease-in-out;
    flex-direction: column;
    background: #f1f4f6;
    flex: 1;
}
.wide-page{
    padding: 20px 50px 20px 350px;
}
.narrow-page{
    padding: 20px 50px 20px 120px;
}
.logger {
    position: fixed;
    top: -8%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: auto;
    min-width: 300px;
    height: 85px;
    padding: 0 20px;
    border-radius: 7px;
    display: flex;
    gap: 5px;
    justify-content: center;
    text-align: center;
}
.logger span img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.logger p {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logger-btn{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#close-logger{
    color: #ff2b59;
    background: transparent;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
}
#close-logger:hover{
    opacity: 1;
}

.warning, .error, .success {
    animation: showLogger .5s ease-in-out;
}

@keyframes showLogger {
    0% {
        top: -8%;
    }

    100% {
        top: 10%;
    }
}

.error,
.success,
.warning,
.disabled {
    top: 10%;
    border: 1px solid;
    border-radius: 7px;
}

.error {
    border-color: #f5c6cb;
    background-color: #f8d7da;
    color: #721c24 !important;
}

.success {
    border-color: #d4edda;
    background-color: #d4edda;
    color: #155724 !important;
}

.warning {
    border-color: #ffeeba;
    background-color: #ffeeba;
    color: #856404 !important;
}

.disabled {
    border-color: #d6d8db !important;
    background-color: #e2e3e5 !important;
    color: #383d41 !important;
    cursor: not-allowed !important;
}
.settings-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(5px);
    height: 100%;
    background: #00000048;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.settings{
    width: 550px;
    background: #efefef;
    border-radius: 10px;
    gap: 10px;
    border: 2px solid #dadada;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    animation: delete-modal 0.3s ease-in-out;
}
.settings .main-title{
    font-size: 1.5rem;
    font-weight: 500;
    color: #5a44ff;
}
.settings .content{
    width: 100%;
}
.settings .theme-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.settings .theme-item{
    border: 1px solid #dadada;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.settings .theme-item:hover{
    border: 1px solid #5a44ff;
}
.settings .theme-item:hover .theme-info{
    color: #5a44ff;
}
.settings .theme-item .theme-img img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid #dadada;
}
.settings .active-theme{
    border: 1px solid #5a44ff;
}
.settings .active-theme .theme-info .theme-title{
    color: #5a44ff;
}
.settings .theme-item .theme-info{
    padding: 5px;
    color: #444444;
    font-weight: 400;
}
.settings .content .title{
    font-size: 1.2rem;
    font-weight: 500;
    color: #131313;
}
.settings .content .description{
    font-size: 1rem;
    font-weight: 400;
    color: #7a7a7a;
    margin-bottom: 1rem;
}
.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 0;
    transition: 0.5s all ease-in-out;
    height: 100%;
    background: #ffffff9d;
    z-index: 6;
    display: none;
    align-items: center;
    justify-content: center;
}
#main-dashboard-loader{
    z-index: 999 !important;
    background-color: #fff;
}
.loader svg{
    width: 125px;
    height: 125px;
}
.container{
    margin-top: 10px;
    border-radius: 5px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
    width: 100%;
}
.first-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    gap: 5px;
    padding: 5px 0;
}
.first-item .image-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border: 1px solid #ddd;
    overflow: hidden;
}
.first-item .image-container .remove-image{
    z-index: 8;
    background-color: #00000086;
    height: 100%;
    width: 100%;
    color: #ff2e43;
    display: none;
    font-size: 36px;
    backdrop-filter: blur(2px);
    position: absolute;
    cursor: pointer;
}
.first-item .image-container:hover .remove-image{
    display: grid;
    place-items: center;
}
.first-item .image-container .profile-image{
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.second{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-header .item{
    position: relative;
}
.content-header .item .controls{
    position: absolute;
    top: -25px;
    right: 0;
    display: flex;
    gap: 10px;
}
.content-header .item .controls button{
    padding: 0;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03),0 0.9375rem 1.40625rem rgba(4,9,20,0.03),0 0.25rem 0.53125rem rgba(4,9,20,0.05),0 0.125rem 0.1875rem rgba(4,9,20,0.03);
}
.content-header .item .controls input{
    padding: 10px;
    border: 1px solid #fff;
    font-size: 15px;
    background-color: #fff;
    border-radius: 5px;
    width: 350px;
    outline: none;
    transition: 0.25s ease-in-out;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03),0 0.9375rem 1.40625rem rgba(4,9,20,0.03),0 0.25rem 0.53125rem rgba(4,9,20,0.05),0 0.125rem 0.1875rem rgba(4,9,20,0.03);
}
.content-header .item input:focus{
    border: 1px solid #783dd7;
}
input[type=file]{
    display: none;
}
.second textarea{
    resize: none;
    height: 125px;
    padding: 10px;
    border: 1px solid #dadada;
    font-size: 16px;
}
.second input{
    padding: 10px;
    border: 1px solid #dadada;
    font-size: 16px;
    outline: none;
    margin-bottom: 15px;
}
.second textarea:focus{
    outline: none;
}
.page-content .header{
    font-size: 18px;
    font-weight: 500;
    color: #131313;
}
.page-content p{
    color: #7a7a7a;
}
.left-bar ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.left-bar ul li a{
    text-decoration: none;
    color: #131313;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
}
.bottom-header{
    color: #3a3a3a;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}
.menu-btn, .menu-controller{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 10px;
    font-size: 15px;
    height: 50px;
}
.menu-btn{
    padding: 5px 25px;
    cursor: pointer;
    opacity: 0.8;
    transition: padding .3s ease-in-out;
}
.menu-controller{
    margin: 15px 0;
    font-style: italic;
}
.menu-controller h3{
    color: #5a44ff;
}
.menu-controller span{
    font-weight: 900;
    letter-spacing: 1px;
}
.table-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.perm-indicator{
    user-select: none;
    cursor: default;
    padding: 5px 8px;
    border-radius: 5px;
    color: #727272;
    border : 2px solid #b9b9b9;
}
.dashboard-btn{
    user-select: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    width: 100%;
    transition: .1s ease-in-out;
    border: none;
    outline: none;
    padding: .45rem 1rem;
}
.edit-btn{
    color: #004085;
    background-color: #cce5ff;
    border: 1px solid #b8daff;
}
.add-image-btn{
    color: aliceblue;
    background-color: #6b58ff;
    opacity: 0.95;
}
.add-image-btn:hover{
    opacity: 1;
    background: #5a44ff;
    color: aliceblue;
}
.edit-btn:hover{
    background: #007bff;
    color: aliceblue;
}
.status-btn{
    color: #856404;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
}
.c-container{
    display: flex;
    gap: 5px;
}
.status-btn:hover{
    background: #e0a800;
    color: aliceblue;
}
.success-btn{
    color: #0d6d23;
    background-color: #a5e9b6;
    border: 1px solid #c3e6cb;
}
.delete-btn{
    border: 1px solid #f5c6cb;
    color: #721c24;
    background-color: #f8d7da;
}
.delete-btn:hover{
    background: #ff4747;
    color: aliceblue;
}
.success-btn:hover{
    background: #28a745;
    color: aliceblue;
}
.hidden-menu .menu-btn{
    padding: 5px 20px;
}
.active-menu .menu-btn{
    padding: 5px 25px;
}
.loader svg{
    color: #000;
}
.menu-btn:hover{
    opacity: 1;
    padding: 0 15px;
}
table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 15px;
    color: #131313;
}
table tr{
    border-bottom: 1px solid #ddd;
}
table tr:last-child{
    border-bottom: none;
}
table tr:hover{
    background: #f1f4f6;
}
table th, table td{
    text-align: center;
    padding: 10px;
}
.table-form-td{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
table th{
    background: #f1f4f6;
    color: #131313;
    font-weight: 500;
}
table td{
    color: #7a7a7a;
}
table tr:nth-child(even) {
    background-color: #f1f4f6;
}
td img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
table tr:nth-child(odd) {
    background-color: #fff;
}
table tr:hover{
    background: #f1f4f6;
}
table tr:hover td{
    color: #131313;
}
table tr:hover td a{
    color: #131313;
}
table tr:hover td a i:hover{
    color: #131313;
}
table tr:hover td a i.active:hover{
    color: #131313;
}
.active{
    opacity: 1;
    color: aliceblue;
    background: #5a44ff;
}
.item-wrapper{
    display: flex;
    gap: 15px;
    width: 100%;
}
.item-wrapper .form-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}
.item-wrapper .form-item input{
    margin: 0;
    width: 100%;
    padding: 5px;
}
.item-wrapper .form-item select{
    padding: 5px;
    border: 1px solid #dadada;
    font-size: 16px;
    outline: none;
    width: 100%;
}
.btns-section{
    display: flex;
    gap: 15px;
}
footer{
    width: 100%;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
    background: #fff;
    position: fixed;
    bottom: 0;
    z-index: 12;
    padding: 10px 15px;
    user-select: none;
}
.copyright-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000000b4;
}

@media (max-width: 1366px) and (max-height: 768px) {
    .content-header .item .controls input {
        font-size: 14px;
    }
    .left-bar{
        width: 250px;
    }
    .bottom-header{
        font-size: 14px;
    }
    .item-wrapper .form-item input{
        font-size: 14px;
    }
    .item-wrapper .form-item select{
        font-size: 14px;
    }
    .second label{
        font-size: 14px;
    }
    .dashboard-btn{
        font-size: 13px !important;
    }
    .item-wrapper {
        gap: 10px;
    }
    .page-content .header{
        font-size: 16px;
    }
    .page-content p {
        font-size: 14px;
    }
    .wide-page{
        padding: 20px 50px 20px 275px;
    }
    .menu-btn{
        padding: 10px 20px;
        font-size: 13px;
    }
    nav{
        padding: 8px 13px;
    }
    .list-title h3{
        font-size: 0.7rem;
    }
    .main-page{
        padding-top: 53px;
    }
    .btns-section{
        gap: 10px;
        font-size: 15px;
    }
    .copyright-section{
        font-size: 14px;
    }
    footer span{
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .left-bar{
        width: 100%;
        border-right: 1px solid #dadada;
    }
    .header-user{
        gap: 10px;
    }
    .header-user .user-info .username, .header-user .user-info .user-role{
        font-size: 12px;
        font-weight: 400;
    }
    .small-btn{
        width: 100% !important;
    }
    .c-container{
        width: 170px;
    }
    .wide-page{
        padding: 20px 20px 20px 95px;
    }
    .hidden-menu{
        transform: translateX(-85%);
    }
    .menu-btn{
        font-size: 13px;
        height: 50px;
        padding: 15px 40px;
        border-bottom: 1px solid #cecece;
    }
    .content-header .item .controls{
        flex-direction: column;
        top: -45px;
    }
    .table-form-td{
        display: table-cell;
    }
    table thead tr{
        height: 55px;
    }
    table tbody tr{
        height: 85px;
    }
    table .dashboard-btn{
        padding: 1px 2px;
        font-size: 10px;
    }
    table th, table td{
        font-size: 12px;
        padding: 0 2px;
    }
    .content-header .item .controls button{
        width: 100%;
        padding: 10px 0;
        font-size: 14px;
    }
    .content-header .item .controls .small-btn{
        height: auto;
    }
    .content-header .item .controls input{
        font-size: 14px;
        width: 170px;
    }
    .narrow-page {
        padding: 20px 20px 20px 95px;
    }
    .content-header .item p{
        width: 50%;
        font-size: 14px;
    }
    .item-wrapper{
        flex-direction: column;
    }
    .first-item .image-container .profile-image{
        width: 175px;
        height: 175px;
    }
    .first-item{
        width: 100%;
    }
    .table-form{
        flex-direction: column;
        gap: 4px;
    }
    .dashboard-btn{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
    }
    .page-content .header{
        font-size: 14px;
        width: 50%;
    }
  }