#product-page {
  padding: 2.5rem 16rem;
  height: auto;
  align-items: flex-start;
}
.product-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  background-color: #fff;
  border: 1px solid #dadada;
}
.product-images {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
.product-details {
  width: 50%;
}
.product-images .big-image {
  width: 100%;
  border: 1px solid #dadada;
  padding: 5px;
  height: 425px;
  position: relative;
}
.product-images .big-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-images .showcase {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
}
.product-images .showcase img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  cursor: pointer;
  border: 1px solid #dadada;
  opacity: 0.8;
}
.product-images .showcase img:hover {
  opacity: 1;
}
.product-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product-details .detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-details .detail .product-title {
  font-size: 1rem;
  font-weight: 500;
  color: #131313;
}
.product-details .detail .product-category {
  font-size: 1rem;
  font-weight: 500;
  color: aliceblue;
  cursor: default;
  user-select: none;
  background-color: #1e6dff;
  padding: 0.25rem 1rem;
  border-radius: 5px;
}
.product-details .detail .product-category a {
  color: aliceblue;
  text-decoration: none;
}
.product-details .detail .product-category a:hover {
  text-decoration: underline;
}
.product-details .detail .product-description {
  font-size: 1rem;
  font-weight: 400;
  color: #363636;
}
.product-details .detail .product-price {
  display: flex;
  gap: 3px;
  align-items: baseline;
  color: #363636;
}
.product-details .detail .product-price .price {
  font-size: 2rem;
  font-weight: 700;
}
.product-details .detail .product-price .currency {
  font-size: 1.8rem;
  font-weight: 500;
}
.product-details .detail .product-price .fee-cost {
  font-size: 1.2rem;
  font-weight: 500;
  color: #363636;
}
.product-details .detail .item {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
}
.product-details .detail .item h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #363636;
}
.product-details .detail .item .badge {
  width: 40px;
  height: 40px;
}
.product-details .detail .item .currency {
  font-size: 0.78rem;
  font-weight: 600;
}
.product-details .detail .item .badge img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-details .detail .item .badge i {
  color: #ffe600;
  background-color: #538fff;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 1.4rem;
  border-radius: 9999px;
}
.product-details .detail .add-cart,
.product-details .detail .in-cart,
.product-details .detail .add-wishlist {
  color: #fff;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.product-details hr {
  border: 1px solid #dadada;
  width: 100%;
  margin: 7px 0;
}
.product-details .detail .add-cart {
  background: #538fff;
  font-weight: 600;
}
.product-details .detail .add-cart:hover {
  background: #3f7ae0;
}
.product-details .detail .in-cart {
  background: #538fff;
  opacity: 0.5;
  cursor: not-allowed;
}
.product-details .detail .add-wishlist {
  background: #ff5c5c;
  padding: 1rem;
  display: grid;
  font-size: 1.2rem;
  place-items: center;
  border-radius: 9999px;
}
.product-details .detail .add-wishlist:hover {
  background: #ff3f3f;
}
.product-details .detail .btns {
  display: flex;
  gap: 20px;
  justify-content: baseline;
  align-items: baseline;
}
.product-details .badges {
  flex-direction: column;
  gap: 10px;
  justify-content: baseline;
  align-items: baseline;
}

/* Media query for laptops */

@media screen and (max-width: 1368px) {
  #product-page {
    padding: 2.5rem 7rem;
  }
}
