#product-page {
  padding: 2.5rem 16rem;
  height: auto;
  align-items: flex-start;
  flex-direction: column;
  gap: 2.5rem;
}

.questions-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  color: #131313;
}

.ask-question {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 40%;
}

.ask-question textarea ::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}

.ask-question textarea ::-webkit-scrollbar-thumb {
  background-color: #538fff;
  border-radius: 5px;
}

.ask-question textarea ::-webkit-scrollbar-track {
  background-color: #f4f4f4;
  border-radius: 5px;
}

.ask-question .character-count {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 0.8rem;
  color: #363636;
  pointer-events: none;
}

.see-questions .no-question-found {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 500;
  color: #363636;
}

.ask-question textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  resize: none;
}

.ask-question textarea:focus {
  border-color: #538fff;
}

.ask-question button {
  padding: 10px;
  background-color: #538fff;
  color: #fff;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.ask-question button:hover {
  background-color: #1a60e3;
}
.questions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.question {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.question .delete-question {
  position: absolute;
  top: 25px;
  right: 25px;
  color: #ff5c5c;
  opacity: 0.7;
  cursor: pointer;
}

.question .delete-question i {
  font-size: 1.2rem;
}

.question .delete-question:hover {
  opacity: 1;
}

.author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.author .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.author .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.author .user-info {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
}
.author .user-info h3 {
  font-size: 1rem;
  font-weight: 500;
}
.author .user-info span {
  font-size: 0.8rem;
  font-weight: 400;
  color: #363636;
}

.answer {
  background-color: #f4f4f4;
  padding: 10px;
  border-left: 3px solid #538fff;
  border-radius: 5px;
}

.load-more-questions {
  padding: 10px;
  background-color: #538fff;
  color: #fff;
  border: none;
  width: 100%;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.see-questions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
}

.see-questions h3 {
  font-weight: 500;
}

.load-more-questions:hover {
  background-color: #1a60e3;
}

.product-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  width: 100%;
  background-color: #fff;
}
.product-images {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: min-content;
  gap: 15px;
}
.product-details {
  width: 50%;
}
.product-details .product-summary {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}
.like-indicator,
.question-indicator {
  font-weight: 400;
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 1rem;
}
.product-images .big-image {
  width: 100%;
  border: 1px solid #dadada;
  padding: 5px;
  height: 425px;
  position: relative;
}
.product-images .big-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-images .showcase {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
}
.product-images .showcase img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  cursor: pointer;
  border: 1px solid #dadada;
  opacity: 0.8;
}
.product-images .showcase img:hover {
  opacity: 1;
}
.product-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product-details .detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-details .detail .product-title {
  font-size: 1rem;
  font-weight: 500;
  color: #131313;
}
.product-details .detail .product-category {
  font-size: 1rem;
  font-weight: 500;
  color: aliceblue;
  cursor: default;
  user-select: none;
  background-color: #1e6dff;
  padding: 0.25rem 1rem;
  border-radius: 5px;
}
.product-details .detail .product-category a {
  color: aliceblue;
  text-decoration: none;
}
.product-details .detail .product-category a:hover {
  text-decoration: underline;
}
.product-details .detail .product-description {
  font-size: 1rem;
  font-weight: 400;
  color: #363636;
}
.product-details .detail .product-price {
  display: flex;
  gap: 3px;
  align-items: baseline;
  color: #363636;
}
.product-details .detail .product-price .price {
  font-size: 2rem;
  font-weight: 700;
}
.product-details .detail .product-price .currency {
  font-size: 1.8rem;
  font-weight: 500;
}
.product-details .detail .product-price .fee-cost {
  font-size: 1.2rem;
  font-weight: 500;
  color: #363636;
}
.product-details .detail .item {
  background: #ebebeb;
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  -webkit-user-drag: none;
  user-select: none;
  cursor: default;
}
.product-details .detail .item h3 {
  font-size: 0.8rem;
  font-weight: 600;
  color: #363636;
}
.product-details .detail .item .badge {
  width: 30px;
  height: 30px;
}
.product-details .detail .item .currency {
  font-size: 0.78rem;
  font-weight: 600;
}
.product-details .detail .item .badge img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-details .detail .item .badge i {
  color: #538fff;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 1.2rem;
  border-radius: 9999px;
}
.product-details .detail .add-cart,
.product-details .detail .in-cart,
.product-details .detail .add-wishlist {
  color: #fff;
  border: none;
  padding: 1rem 1.5rem;
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
}
.product-details hr {
  border: 1px solid #ebebeb;
  width: 100%;
  margin: 7px 0;
}
.product-details .detail .add-cart {
  padding: 10px;
  background-color: #538fff;
  color: #fff;
  border: none;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}
.product-details .detail .add-cart:hover {
  background: #1a60e3;
}
.product-details .detail .in-cart {
  background: #538fff;
  opacity: 0.5;
  padding: 0.7rem;
  cursor: not-allowed;
}

.product-details .detail .add-wishlist {
  background: #ff5c5c;
  padding: 1rem;
  display: grid;
  font-size: 1.2rem;
  place-items: center;
  transition: all 0.5s ease;
  width: 50px;
  border-radius: 9999px;
}
.product-details .detail .add-wishlist:hover {
  background: #ff3f3f;
}
.product-details .detail .add-wishlist:active {
  transform: scale(1.2);
}
.product-details .detail .btns {
  display: flex;
  gap: 20px;
  justify-content: start;
  width: 100%;
  align-items: baseline;
}
.product-details .badges {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: baseline;
}

/* Media query for laptops */

@media screen and (max-width: 1368px) {
  #product-page {
    padding: 2.5rem 7rem;
  }
}
