@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background: #fff;
  overflow-x: hidden;
}
img {
  -webkit-user-drag: none;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #b5b5b5;
}
::-webkit-scrollbar-thumb:hover {
  background: #859cc5;
}
/* Scrollbar */

.top-banner {
  background: #131313;
  background-image: radial-gradient(
    circle 815px at 23.4% -21.8%,
    rgba(9, 29, 85, 1) 0.2%,
    rgba(0, 0, 0, 1) 100.2%
  );
  padding: 0.9rem 0;
  display: grid;
  place-items: center;
}
.top-banner a {
  color: aliceblue;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.15rem;
  letter-spacing: 1px;
}
.maintenance-info,
.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgb(22, 23, 29) 0%,
    rgb(14, 22, 31) 81.3%
  );
  background-color: #000;
  color: #fff;
}
.maintenance-info {
  display: none;
}
.fixed {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1500;
}
.maintenance-info i,
.placeholder i {
  font-size: 1rem;
  color: #ffea2c;
  margin-right: 5px;
}
.maintenance-info span,
.placeholder span {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffea2c;
}
.maintenance-info a,
.placeholder a {
  color: #d4d4d4;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1px;
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  position: relative;
  background-color: #1e6dff;
  padding: 0 8rem;
  color: #fff;
}
.navbar img {
  -webkit-user-drag: none;
}
.navbar .site-name {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.navbar .site-name a {
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
}
.navbar .site-name a span {
  color: #00eeff;
}
.navbar .site-name .logo {
  width: 3.5rem;
  border-radius: 50%;
  height: 3.5rem;
}
.navbar .search-box {
  width: 600px;
  height: 5vh;
  position: relative;
}
.navbar .flex-item {
  flex: 1;
}
.navbar .search-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 2.35rem 0 1rem;
  font-size: 1.2rem;
}
.search-results .no-products {
  padding: 30px;
}
.search-results .no-products h2 {
  font-size: 1rem;
  font-weight: 600;
  color: #123b57;
}
.search-results .no-products h2 i {
  font-size: 1.2rem;
  color: #538fff;
}
.navbar .search-box .search-results .search-loader {
  color: #131313;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}
.navbar .search-box .search-results {
  position: absolute;
  width: 100%;
  background: #fff;
  max-height: 450px;
  overflow-y: scroll;
  display: none;
  flex-direction: column;
  z-index: 999;
  border: 1px solid #dadada;
}

.search-results .product-in-search {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  gap: 10px;
  border-bottom: 1px solid #dadada;
}
.search-results .product-in-search:hover {
  background-color: #eeeeee;
}
.search-results .product-in-search:last-child {
  border-bottom: none;
}
.search-results .product-in-search .product-image {
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.search-results .product-in-search .product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.search-results .product-in-search .product-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: clamp(45ch, 50%, 75ch);
}
.search-results .product-in-search .product-info .product-title {
  font-size: 16px;
  font-weight: 500;
  color: #538fff;
  text-decoration: none;
}
.search-results .product-in-search .product-info .product-title:hover {
  text-decoration: underline;
}
.search-results .product-in-search .product-info .product-desc {
  font-size: 14px;
  color: #363636;
  font-weight: 300;
}
.search-results .product-in-search .product-info .price-calculation {
  font-size: 15px;
  font-weight: 400;
  color: #363636;
}
.navbar .search-box .search-btn {
  position: absolute;
  right: 0;
  width: 50px;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #363636;
  font-size: 1rem;
  cursor: pointer;
}
.navbar .user-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  gap: 10px;
  position: relative;
}

@keyframes loadContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.navbar .user-content .interactive {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .user-content .interactive .n-cart,
.navbar .user-content .interactive .n-wishlist {
  position: relative;
  padding: 0.7rem;
}
.navbar .user-content .interactive .n-cart a,
.navbar .user-content .interactive .n-wishlist a {
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  font-size: 1.2rem;
}
.navbar .user-content .account {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.navbar .user-content .account .user-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
}
.navbar .user-content .account .user-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navbar hr {
  width: 1px;
  height: 30px;
  background-color: #ffffff6e;
  border: none;
  outline: none;
  margin: 0 0.4rem;
}
.navbar .user-content .account .a-content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.navbar .user-content .n-cart span,
.navbar .user-content .n-wishlist span {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  background-color: #ff3d00;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 0.72rem;
  color: #fff;
}
.navbar .user-content .account .a-content span {
  font-size: 0.8rem;
  color: #cacaca;
}
.navbar .user-content .account .a-content span a {
  color: #fff;
  text-decoration: none;
}
.navbar .user-content .account .a-content span a:hover {
  text-decoration: underline;
}
.categories-container {
  width: 100%;
  height: 6vh;
  background-color: #fff;
  padding: 0 10rem;
  border-bottom: 1px solid #dadada;
}
.categories-container .categories {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style: none;
}
.categories-container .categories .category {
  position: relative;
  width: 10rem;
  height: 100%;
}
.categories-container .categories .sub-category-lister {
  position: absolute;
  display: none;
  flex-direction: column;
  gap: 0;
  width: 100%;
  outline: 1px solid #dadada;
  list-style: none;
  background: #fff;
  padding: 0;
  margin: 0;
  z-index: 0;
}
.categories-container .categories .sub-category-lister .sub-category a {
  font-size: 0.9rem;
  font-weight: 400;
  color: #363636;
  text-decoration: none;
  height: 100%;
  width: 100%;
  padding: 1rem 2rem;
  cursor: pointer;
}
.categories-container .categories .sub-category-lister .sub-category a:hover {
  background: #f0f0f0;
}
.categories-container .categories .sub-category-lister .sub-category {
  border-bottom: 1px solid #dadada;
}
.categories-container
  .categories
  .sub-category-lister
  .sub-category:last-child {
  border-bottom: none;
}
.categories-container .categories .category a {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: #363636;
  margin-top: 1px;
  height: 100%;
  width: 100%;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}
.categories-container .categories .category a:hover {
  color: #1e6dff;
  border-bottom: 3px solid #1e6dff;
}
.sub-category-lister a:hover {
  border-bottom: 3px solid #fff !important;
}
.categories-container .categories .category:hover .sub-category-lister {
  display: flex;
  z-index: 999;
}
/* Navbar */
/*not found*/
.no-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
  padding: 80px 40px;
}
.no-products h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #123b57;
  display: flex;
  align-items: center;
  gap: 10px;
}
.no-products h2 i {
  font-size: 2rem;
  color: #538fff;
}
/*not found*/
/* Footer */
footer {
  background: #eeeeee;
  border-top: 1px solid #dadada;
  padding: 3rem 5rem;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-row {
  display: flex;
  gap: 80px;
  justify-content: center;
}
.footer-row ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-row .footer-item {
  text-align: center;
}
.footer-item li a {
  font-size: 16px;
  font-weight: 300;
  color: #151515;
  opacity: 0.75;
  display: block;
  transition: 0.3s;
}
.footer-item li a:hover {
  opacity: 1;
  padding-left: 9px;
}
.footer-title {
  font-size: 18px;
  color: #4c4c4c;
  margin-bottom: 15px;
  padding-bottom: 10px;
  font-weight: 500;
  position: relative;
}
.footer-title:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: #538fff;
}
.footer-powered {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.footer-powered .footer-item {
  display: flex;
  flex-direction: column;
  width: 300px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.footer-item img {
  object-fit: cover;
  margin: 0.5rem 0 0.5rem 0;
}
.footer-item .wide-img {
  height: 32px;
  width: 132px;
}
.footer-item .narrow-img {
  height: 42px;
  width: 42px;
}
.cookie-container p {
  margin: auto 5px;
  line-height: 1;
  font-size: 15px;
}

.cookie-container {
  position: fixed;
  display: flex;
  z-index: 3;
  justify-content: space-between;
  bottom: -100%;
  left: 0;
  height: 50px;
  font-weight: 600;
  right: 0;
  background: #2470ff;
  backdrop-filter: blur(5px);
  color: #f5f6fa;
  padding-left: 32px;
  transition: 0.4s;
}

.cookie-container.active {
  bottom: 0;
}

.cookie-btn {
  background: #06f;
  border: 0;
  color: #e7e7e7;
  padding: 0 20px;
  font-size: 15px;
  cursor: pointer;
}

.cookie-btn:hover {
  background: #00eaff;
  color: #000;
}
/* Footer */
/* Pages */
.page-content {
  height: 100vh;
  display: flex;
  background-color: #f5f5f5;
  align-items: center;
  color: aliceblue;
  justify-content: center;
  width: 100%;
}
.header-title {
  font-size: 5rem;
  letter-spacing: 2px;
  text-shadow: 0 0 10px #0000004d;
}
.header-text {
  font-size: 1.3rem;
  text-align: center;
  outline: 1px solid aliceblue;
  line-height: 1.5;
}
.header-sub-text {
  font-size: 1.3rem;
  text-align: center;
  width: 50%;
}
.page-content .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  gap: 1rem;
}
.promotion#theme-2 {
  background-image: radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgba(4, 189, 228, 1) 0%,
    rgba(2, 83, 185, 1) 100.2%
  );
}
.promotion#theme-1 {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(166, 239, 253, 1) 0%,
    rgba(97, 186, 255, 1) 90.1%
  );
}
.promotion#theme-3 {
  background-image: linear-gradient(
    90.5deg,
    rgba(255, 207, 139, 0.5) 1.1%,
    rgba(255, 207, 139, 1) 81.3%
  );
}
.promotion {
  margin-top: -1px;
  height: 700px;
  padding: 60px 20px;
  user-select: none;
  width: 25%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.promotion .promotion-details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: transparent;
}
.promotion .promotion-details .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.5rem;
  width: 50%;
  height: 100%;
}
.promotion .promotion-details .content .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  width: 100%;
  height: 100%;
}
.promotion .promotion-details .content .info h4 {
  font-size: 2.76rem;
  font-weight: 400;
}
.promotion .promotion-details .content .info h3 {
  font-size: 2.76rem;
  font-weight: 700;
}
.promotion#theme-2 .promotion-details .content .info h3 {
  color: aliceblue;
}
.promotion#theme-2 .promotion-details .content .info h4 {
  color: aliceblue;
}
.promotion#theme-1 .promotion-details .content .info h3 {
  color: #181818;
}
.promotion#theme-1 .promotion-details .content .info h4 {
  color: #181818;
}
.promotion#theme-3 .promotion-details .content .info h3 {
  color: #181818;
}
.promotion#theme-3 .promotion-details .content .info h4 {
  color: #181818;
}
.promotion .promotion-details .content .btns {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
  height: 100%;
}
.promotion .promotion-details .content .btns .primary {
  background: #1d6cff;
  color: #fff;
  border: none;
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;
  border-radius: 9999px;
  margin-top: 50px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.promotion .promotion-details .content .btns .secondary {
  background: #fff;
  color: #363636;
  border: none;
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;
  border-radius: 9999px;
  margin-top: 50px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.promotion .promotion-details .content .btns .secondary:hover {
  background: #dadada;
}
.promotion .promotion-details .content .btns .primary:hover {
  background: #2b75ff;
}
.promotion .promotion-details .thumbnail {
  height: 450px;
  overflow: hidden;
}
.promotion .promotion-details .thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* Promotion slider */
#slider {
  width: 100%;
}
#slider input[type='radio'] {
  display: none;
}
#slider label {
  cursor: pointer;
  text-decoration: none;
}
#slides {
  position: relative;
  z-index: 1;
}
#overflow {
  width: 100%;
  overflow: hidden;
}
#slide1:checked ~ .inner {
  margin-left: 0;
}
#slide2:checked ~ .inner {
  margin-left: -100%;
}
#slide3:checked ~ .inner {
  margin-left: -200%;
}
#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 400%;
}
#bullets {
  position: absolute;
  z-index: 2;
  bottom: 10px;
  width: 100%;
  text-align: center;
  user-select: none;
}
#bullets label {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 99999px;
  background: #36363642;
  margin: 0 5px;
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3) {
  background: #304fff;
  width: 50px;
}
@media screen and (max-width: 900px) {
  #slides {
    max-width: calc(100% - 140px);
    margin: 0 auto;
  }
}
/* Promotion slider */
.home-page-featured {
  width: 100%;
  margin: 50px 20px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#featured ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
  list-style: none;
}
#featured ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 400px;
  height: 250px;
  border: 2px solid #dadada;
  background: #fff;
  border-radius: 30px;
  padding: 20px 30px;
}
#brands ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
}
#brands ul li img {
  width: 150px;
  height: 100%;
  display: block;
  object-fit: contain;
}
#featured ul li img {
  width: 100px;
  border-radius: 9999px;
  height: 100px;
  object-fit: cover;
}
#categories * {
  user-select: none;
}
#categories {
  margin: 0;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-auto-rows: 500px;
  gap: 0.5rem;
}
#categories .category-card {
  position: relative;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  border-radius: 15px;
}
#categories .category-card .category-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#categories .category-card .category-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease-in-out;
}
#categories .category-card:hover .category-image img {
  transform: scale(1.1);
}
#categories .category-card a {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 0 20px #000000b7;
  text-decoration: none;
  height: 100%;
  width: 100%;
  background-color: #00000067;
}
@media screen and (min-width: 600px) {
  .card-tall {
    grid-row: span 2 / auto;
  }

  .card-wide {
    grid-column: span 2 / auto;
  }
}
/* Pages */

/* Modal */

.cart-modal-title {
  color: #538fff;
  text-align: left;
  width: 100%;
  font-size: 1.4rem;
}

.cart-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(5px);
  height: 100%;
  background: #00000048;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-modal-content {
  max-width: 750px;
  width: auto;
  background: #fff;
  border-radius: 10px;
  gap: 10px;
  border: 2px solid #dadada;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  animation: modal 0.3s ease-in-out;
  position: relative;
}
@keyframes modal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.cart-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  color: #666666;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}
.cart-modal-close:hover {
  opacity: 1;
}
.cart-modal-btn {
  background: #538fff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: 500;
  width: 100%;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.cart-modal-btn:hover {
  background: #2b75ff;
}

.cart-modal .product-in-modal {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #dadada;
}
.cart-modal .product-in-modal:hover {
  background-color: #eeeeee;
}
.cart-modal .product-in-modal:last-child {
  border-bottom: none;
}
.cart-modal .product-in-modal .product-image {
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.cart-modal .product-in-modal .free-shipment {
  position: absolute;
  top: 5px;
  box-shadow: 0 0 5px #05050560;
  left: -33px;
  font-size: 14px;
  color: #ffe600;
  display: grid;
  place-items: center;
  width: 100px;
  transform: rotate(-45deg);
  padding: 0.3rem;
  background: #538fff;
  z-index: 999;
}
.cart-modal .product-in-modal .product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cart-modal .product-in-modal .product-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.cart-modal .product-in-modal .product-info .product-title {
  font-size: 16px;
  font-weight: 500;
  color: #538fff;
  text-decoration: none;
}
.cart-modal .product-in-modal .product-info .product-title:hover {
  text-decoration: underline;
}
.cart-modal .product-in-modal .product-info .product-desc {
  font-size: 14px;
  color: #363636;
  font-weight: 300;
}
.cart-modal .product-in-modal .product-info .price-calculation {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  color: #363636;
  background: #dfdfdf;
  padding: 5px;
  border-radius: 10px;
}
.cart-modal .product-in-modal .remove-from-cart {
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 15px;
  padding: 6px 8px;
  color: #ff2727;
  transform: translateY(-50%);
  opacity: 0.7;
  display: grid;
  background-color: #eeeeee;
  border: 1px solid #dadada;
  border-radius: 5px;
  place-items: center;
  z-index: 999;
  cursor: pointer;
}
.cart-modal .product-in-modal .remove-from-cart:hover {
  opacity: 1;
}
.liked-products {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1368px) {
  .navbar .search-box {
    width: 500px;
  }
  .navbar .search-box input {
    font-size: 1rem;
    padding: 0 2.45rem 0 0.75rem;
  }
  .navbar .search-box .search-btn {
    width: 40px;
    font-size: 0.9rem;
  }
}
