@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap);
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: M PLUS Rounded\1c, SF UI Text, Helvetica Neue, Helvetica, Roboto,
    sans-serif;
  background: #fff;
  overflow-x: hidden;
}
img {
  -webkit-user-drag: none;
}
.top-banner {
  background: #ff3333;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(237, 3, 32, 0.87) 20.8%,
    rgba(242, 121, 1, 0.84) 74.4%
  );
  padding: 0.5rem 0;
  display: grid;
  place-items: center;
}
.top-banner a {
  color: aliceblue;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  position: relative;
  background-color: #1e6dff;
  padding: 0 8rem;
  color: #fff;
}
.navbar img {
  -webkit-user-drag: none;
}
.navbar .site-name {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.navbar .site-name a {
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
}
.navbar .site-name a span {
  color: #00eeff;
}
.navbar .site-name .logo {
  width: 2.5rem;
  height: 2.5rem;
}
.navbar .search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 5vh;
  background-color: #fff;
  border-radius: 2rem;
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.navbar .flex-item {
  flex: 1;
  max-width: 33%;
}
.navbar .search-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 2.35rem 0 1rem;
  font-size: 1.2rem;
}
.navbar .search-box .search-btn {
  position: absolute;
  right: 0;
  width: 50px;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #363636;
  font-size: 1rem;
  cursor: pointer;
}
.navbar .user-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  gap: 10px;
  position: relative;
}
.dynamic-content {
  animation: loadContent 0.6s ease-in-out alternate;
}
@keyframes loadContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.navbar .user-content .interactive {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .user-content .interactive .n-cart,
.navbar .user-content .interactive .n-wishlist {
  position: relative;
  padding: 0.7rem;
}
.navbar .user-content .interactive .n-cart a,
.navbar .user-content .interactive .n-wishlist a {
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  font-size: 1.2rem;
}
.navbar .user-content .account {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.navbar .user-content .account .user-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
}
.navbar .user-content .account .user-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navbar hr {
  width: 1px;
  height: 30px;
  background-color: #ffffff6e;
  border: none;
  outline: none;
  margin: 0 0.4rem;
}
.navbar .user-content .account .a-content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.navbar .user-content .n-cart span,
.navbar .user-content .n-wishlist span {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  background-color: #ff3d00;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 0.72rem;
  color: #fff;
}
.navbar .user-content .account .a-content span {
  font-size: 0.8rem;
  color: #cacaca;
}
.navbar .user-content .account .a-content span a {
  color: #fff;
  text-decoration: none;
}
.navbar .user-content .account .a-content span a:hover {
  text-decoration: underline;
}
.categories-container {
  width: 100%;
  height: 6vh;
  background-color: #fff;
  padding: 0 10rem;
  border-bottom: 1px solid #dadada;
}
.categories-container .categories {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  list-style: none;
}
.categories-container .categories .category {
  width: 10rem;
}
.categories-container .categories .category a {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: #363636;
  margin-top: 1px;
  height: 100%;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}
.categories-container .categories .category a:hover {
  color: #1e6dff;
  border-bottom: 3px solid #1e6dff;
}
/* Navbar */
/*not found*/
.no-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
  padding: 80px 40px;
}
.no-products h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #123b57;
  display: flex;
  align-items: center;
  gap: 10px;
}
.no-products h2 i {
  font-size: 2rem;
  color: #538fff;
}
/*not found*/
/* Footer */
footer {
  background: #f5f5f5;
  border-top: 1px solid #dadada;
  font-family: "Poppins", sans-serif;
  padding: 3rem 5rem;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-row {
  display: flex;
  gap: 80px;
  justify-content: center;
}
.footer-row ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-row .footer-item {
  text-align: center;
}
.footer-item li a {
  font-size: 16px;
  font-weight: 300;
  color: #151515;
  opacity: 0.75;
  display: block;
  transition: 0.3s;
}
.footer-item li a:hover {
  opacity: 1;
  padding-left: 9px;
}
.footer-title {
  font-size: 18px;
  color: #4c4c4c;
  margin-bottom: 15px;
  padding-bottom: 10px;
  font-weight: 500;
  position: relative;
}
.footer-title:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: #538fff;
}
.footer-powered {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.footer-powered .footer-item {
  display: flex;
  flex-direction: column;
  width: 300px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.footer-item img {
  object-fit: cover;
  margin: 0.5rem 0 0.5rem 0;
}
.footer-item .wide-img {
  height: 32px;
  width: 132px;
}
.footer-item .narrow-img {
  height: 42px;
  width: 42px;
}
.cookie-container p {
  margin: auto 5px;
  line-height: 1;
  font-size: 15px;
}

.cookie-container {
  position: fixed;
  display: flex;
  z-index: 3;
  justify-content: space-between;
  bottom: -100%;
  left: 0;
  height: 50px;
  font-weight: 600;
  right: 0;
  background: #2470ff;
  backdrop-filter: blur(5px);
  color: #f5f6fa;
  padding-left: 32px;
  transition: 0.4s;
}

.cookie-container.active {
  bottom: 0;
}

.cookie-btn {
  background: #06f;
  border: 0;
  color: #e7e7e7;
  padding: 0 20px;
  font-size: 15px;
  cursor: pointer;
}

.cookie-btn:hover {
  background: #00eaff;
  color: #000;
}
/* Footer */
/* Pages */
.page-content {
  height: 100vh;
  display: flex;
  background-color: #151515;
  align-items: center;
  color: aliceblue;
  justify-content: center;
  width: 100%;
}
.header-title {
  font-size: 5rem;
  letter-spacing: 2px;
  text-shadow: 0 0 10px #0000004d;
}
.header-text {
  font-size: 1.3rem;
  text-align: center;
  outline: 1px solid aliceblue;
  line-height: 1.5;
}
.header-sub-text {
  font-size: 1.3rem;
  text-align: center;
  width: 50%;
}
.page-content .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  gap: 1rem;
}
#home {
  background: url(/global/imgs/mass_bg.jpg) no-repeat center center/cover;
}
#custom-page {
  background: url(/global/imgs/mass_bg_third.svg) no-repeat center center/cover;
}
.secondary-bg {
  background: url(/global/imgs/mass_bg_second.svg) no-repeat center center/cover;
}
/* Pages */

/* Modal */

.cart-modal-title {
  color: #538fff;
  text-align: left;
  width: 100%;
  font-size: 1.4rem;
}

.cart-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(5px);
  height: 100%;
  background: #00000048;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-modal-content {
  max-width: 750px;
  width: auto;
  background: #fff;
  border-radius: 10px;
  gap: 10px;
  border: 2px solid #dadada;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  animation: modal 0.3s ease-in-out;
  position: relative;
}
@keyframes modal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.cart-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  color: #666666;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}
.cart-modal-close:hover {
  opacity: 1;
}
.cart-modal-btn {
  background: #538fff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: 500;
  width: 100%;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.cart-modal-btn:hover {
  background: #2b75ff;
}

.cart-modal .product-in-modal {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #dadada;
}
.cart-modal .product-in-modal:hover {
  background-color: #eeeeee;
}
.cart-modal .product-in-modal:last-child {
  border-bottom: none;
}
.cart-modal .product-in-modal .product-image {
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.cart-modal .product-in-modal .free-shipment {
  position: absolute;
  top: 5px;
  box-shadow: 0 0 5px #05050560;
  left: -33px;
  font-size: 14px;
  color: #ffe600;
  display: grid;
  place-items: center;
  width: 100px;
  transform: rotate(-45deg);
  padding: 0.3rem;
  background: #538fff;
  z-index: 999;
}
.cart-modal .product-in-modal .product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cart-modal .product-in-modal .product-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.cart-modal .product-in-modal .product-info .product-title {
  font-size: 16px;
  font-weight: 500;
  color: #538fff;
  text-decoration: none;
}
.cart-modal .product-in-modal .product-info .product-title:hover {
  text-decoration: underline;
}
.cart-modal .product-in-modal .product-info .product-desc {
  font-size: 14px;
  color: #363636;
  font-weight: 300;
}
.cart-modal .product-in-modal .product-info .price-calculation {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  color: #363636;
  background: #dfdfdf;
  padding: 5px;
  border-radius: 10px;
}
.cart-modal .product-in-modal .remove-from-cart {
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 15px;
  padding: 6px 8px;
  color: #ff2727;
  transform: translateY(-50%);
  opacity: 0.7;
  display: grid;
  background-color: #eeeeee;
  border: 1px solid #dadada;
  border-radius: 5px;
  place-items: center;
  z-index: 999;
  cursor: pointer;
}
.cart-modal .product-in-modal .remove-from-cart:hover {
  opacity: 1;
}
.liked-products {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
