.link {
  text-decoration: none;
  transition: all 0.3s ease;
}
.link:hover {
  text-decoration: underline;
}
.no-decoration {
  text-decoration: none;
}
.no-list-style {
  list-style: none;
}
.flex-display {
  display: flex;
}
.block-display {
  display: block !important;
}
.none-display {
  display: none !important;
}
.flex-column {
  flex-direction: column !important;
}
.flex-row {
  flex-direction: row !important;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-space-around {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}
.width-100 {
  width: 100%;
}
.gap-5 {
  gap: 5px !important;
}
.gap-10 {
  gap: 10px !important;
}
.gap-20 {
  gap: 20px !important;
}
.gap-30 {
  gap: 30px !important;
}
.small-btn {
  width: 45px;
  height: 45px;
}
.no-drag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
.small-svg {
  height: 20px;
  width: 20px;
}
.medium-svg {
  height: 30px;
  width: 30px;
}
.large-svg {
  height: 40px;
  width: 40px;
}
.white-text {
  color: aliceblue;
}
.black-text {
  color: #151515;
}
.purple-text {
  color: #6200ff;
}
.light-blue-text {
  color: #00eaff;
}
.blue-text {
  color: #00c8ff;
}
.bold-text {
  font-weight: 900;
}
.light-text {
  font-weight: 400;
}
.text-bg {
  backdrop-filter: blur(5px);
  background-color: #0000003b;
  border-radius: 50px;
}
.text-bg-p-hlf {
  padding: 0.2rem 0.5rem;
}
.text-bg-p-1 {
  padding: 0.2rem 1rem;
}
.m-t-5 {
  margin-top: 5px;
}
.m-t-10 {
  margin-top: 10px;
}
.btn {
  border: 0;
  padding: 0.75rem 2rem;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
}
.primary-btn {
  background: linear-gradient(to right, #1c6bff, #00ffea);
  opacity: 0.75;
}
.secondary-btn {
  background: linear-gradient(to right, #6200ff, #00ffea);
  opacity: 0.75;
}
.secondary-btn:hover,
.primary-btn:hover {
  opacity: 1;
}
